/*   Theme default css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;600;700&display=swap');
@font-face {
    src: url(../font/eurostile-bold.otf);
    font-family: eurostile-bold;
}


/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif; */

:root {
    --colorText: #C974FF;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body.dark {
    background: #23173B;
    color: #fff;
}

button {
    cursor: pointer;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

a,
button {
    color: inherit;
    outline: medium none;
    text-decoration: none;
    transition: .3s;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    font-weight: 700;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.padding {
    padding-right: 0;
}

.mb_100 {
    margin-bottom: 150px;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #382b52;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #c974ff;
    border-radius: 10px;
}


/* default-css END 
================================== */

.header-area {
    padding: 35px 0 100px;
    width: 100%;
    z-index: 99;
}

.logo-area a {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

.menu-area {}

.menu-area ul {
    display: flex;
    max-width: 770px;
    width: 100%;
    justify-content: space-between;
    margin-left: auto;
}

.menu-area nav ul li {
    list-style: none;
    display: inline-block;
}

.menu-area nav ul li a {
    font-size: 25px;
    position: relative;
    font-weight: 500;
}

.menu-area nav ul li a.active {
    color: var(--colorText);
}

.menu-area nav ul li a:hover {
    color: #C974FF;
}

.menu-area nav ul li a.theme-btn {
    background: white;
    display: inline-block;
    padding: 0 50px;
    height: 48px;
    color: #ff4900;
    line-height: 48px;
    border-radius: 30px;
    border: 2px solid white;
    transition: .3s;
}


/* humbergar */

.bar a {
    width: 35px;
    height: 35px;
    float: right;
    position: relative;
}

.bar a span {
    width: 100%;
    height: 3px;
    background: #c974ff;
    display: block;
    position: relative;
    top: 17px;
    border-radius: 30px;
    transition: .3s;
}

.bar a span:before {
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #c974ff;
    bottom: 10px;
    border-radius: 30px;
    transition: .3s;
}

.bar a span:after {
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #c974ff;
    bottom: -10px;
    border-radius: 30px;
    transition: .3s;
}


/* humbarger END */


/* mobile-menu START */

.mobile-menu {
    position: fixed;
    width: 320px;
    height: 100vh;
    background: #281941;
    z-index: 99;
    box-shadow: 0px 0px 9px -1px #737373;
    top: 0;
    left: 0;
    transition: .3s;
    margin-left: -400px;
    padding-left: 40px;
    padding-top: 100px;
}

.siteBar {
    margin-left: 0;
}

.mobile-menu ul#pills-tab {
    margin-top: 90px;
    margin-bottom: 35px !important;
    display: block;
}

.mobile-menu nav ul li {
    list-style: none;
    display: block;
}

.mobile-menu nav ul li a {
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    transition: .3s;
    font-family: 'eurostile-bold';
    letter-spacing: 1px;
}

.mobile-menu nav ul li a:hover {
    color: #ff4900;
}

.mobile-menu ul#pills-tab li {
    display: inline-block;
}

.mobile-menu ul#pills-tab li a {
    color: #272835;
    font-size: 15px;
}

.mobile-menu a.theme-btn {
    margin-top: 60px;
    margin-left: 0;
}

.mobile-menu a.theme-btn {
    margin-top: 60px;
    margin-left: 0;
    height: 45px;
    line-height: 45px;
}

.mobile-menu .user a {
    display: block;
    width: 100%;
    padding: 0;
    color: #272835;
    line-height: 40px;
    font-size: 16px;
}

.mobile-menu .user {
    display: block;
}

.mobile-menu .user a:hover {
    background: none;
    opacity: .5;
}

.mobile-menu a.bars {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 49px;
    border-radius: 50%;
    font-size: 35px;
    color: #c974ff;
    /* box-shadow: 0px 0px 17px -2px #50505099; */
}


/* Header section END */

.hero {
    margin-bottom: 100px;
}

img.EllipseHero {
    position: absolute;
    left: 0;
    top: -43%;
}

img.EllipseHerorit {
    position: absolute;
    right: 0;
    top: -10%;
}

img.code {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

img.Particles {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.container {
    max-width: 1320px;
}

.row {}

.col-lg-5 {}

.hero_cont {
    padding: 200px 0;
}

.hero_cont h2 {
    font-size: 60px;
    line-height: 1.4;
    font-family: eurostile-bold;
    font-family: 'Work Sans', sans-serif;
}

.hero_cont h2 span {
    color: var(--colorText);
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    font-family: eurostile-bold;
}

.col-lg-7 {}

.hero_img {
    position: relative;
    height: 100%;
    /* max-width: 582px; */
    margin: auto;
    width: 100%;
}

.hero_img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img.h-lite {
    mix-blend-mode: screen;
    transform: translate(-50%, -50%) rotate(352deg);
}

img.Flare {
    mix-blend-mode: color-dodge;
}

img.Global {
    width: 100%;
}

img.Bitcoin {}

.mission {}

img.world {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    pointer-events: none;
}

.col-lg-12 {}

.mission-cont {
    height: 551px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mission-cont p {
    position: relative;
    z-index: 2;
    font-size: 30px;
    text-align: center;
    max-width: 1050px;
    margin-left: 40px;
}

.mission-cont img {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.mission-cont img.Vector {
    right: -3%;
    position: absolute;
    left: auto;
    bottom: -5%;
    top: auto;
}

.mission-cont img.lsptop {
    z-index: 1;
    top: -6%;
    left: 5%;
}

.OurMission {
    width: 100%;
}

.about {
    position: relative;
}

section.about img.world {
    top: 70%;
}

section.about img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none;
}

section.about img.EllipseHero {
    left: 20%;
    top: 127%;
}

img.BitcoinFish {
    top: 24% !important;
}

.fish_wrp:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

img.fish {
    width: 100%;
}

.about_cont {
    max-width: 600px;
    background: rgba(27, 18, 47, 0.46);
    backdrop-filter: blur(15px);
    border-radius: 42.2937px;
    padding: 70px;
    margin-left: auto;
    position: relative;
    z-index: 99;
}

.about_cont p {
    font-size: 21px;
    letter-spacing: 0.004em;
    color: #E4E4E4;
    line-height: 182.5%;
}

.about_cont h2 {
    font-size: 45px;
    margin-bottom: 25px;
}

.about_cont h2 span {
    color: var(--colorText);
}

.we_do {
    position: relative;
    padding-top: 100px;
}

section.we_do.we_do_last i {
    margin-bottom: 35px;
}

section.we_do img.EllipseHerorit {
    bottom: auto;
    top: -11% !important;
    max-width: 799px;
}

section.we_do img.EllipseHero {
    top: 50%;
}

img.wedoBg {
    position: absolute;
    mix-blend-mode: color-burn;
    opacity: 0.5;
    top: 0;
    z-index: 5;
    width: 100%;
}

section.we_do img.EllipseHerorit {
    top: auto;
    bottom: -64%;
}

img.Polygon {
    position: absolute;
    right: 10%;
    top: -15%;
}

img.Polygon_botm {
    position: absolute;
    right: 10%;
    bottom: -10%;
}

img.Polygon_botm2 {
    right: 2%;
    bottom: 0;
    width: 30px;
    opacity: .5;
}

img.Polygon_botm3 {
    bottom: 13%;
    width: 20px;
    opacity: .4;
}

section {
    margin-bottom: 150px;
    position: relative;
}

.line {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 35%;
}

h2.title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 60px;
}

h2.title span {
    color: var(--colorText);
}

.col-lg-4 {}

.wedo_blk {
    background: linear-gradient(359deg, #B17AF0, #4A32F0);
    max-width: 420px;
    text-align: center;
    padding: 55px 40px;
    border-radius: 42.2937px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    margin-bottom: 30px;
}

.wedo_blk:after {
    content: "";
    position: absolute;
    width: 99.5%;
    height: 99.5%;
    top: 50%;
    left: 50%;
    background: red;
    transform: translate(-50%, -50%);
    border-radius: 42.2937px;
    z-index: -1;
    background: #1B122F;
}

.wedo_blk p {
    color: #CBCADE;
    font-size: 20px;
    line-height: 1.7;
}

.wedo_blk span {
    display: block;
    width: 100px;
    height: 1px;
    background: #C974FF;
    margin: 38px auto;
}

.wedo_blk h2 {
    font-family: 'Poppins', sans-serif;
}

.wedo_blk i img {}

.wedo_blk i {
    display: block;
    position: relative;
    width: max-content;
    margin: auto;
}

.sv_logo {
    position: absolute;
    left: 50%;
    top: 39%;
    transform: translate(-50%, -50%);
}

.Partners {}

section.Partners img.EllipseHero {
    transform: rotate(181deg);
    left: -3%;
    top: -70%;
}

.Partner_slider .owl-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: -30px;
}

.Partner_slider .owl-nav i {
    display: block;
    width: 82px;
    height: 82px;
    background: #fff;
    border-radius: 50%;
    position: relative;
}

.Partner_slider .owl-nav i:after {
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    left: 56%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(319deg);
    border-top: 2px solid #1F1F1F;
    border-left: 2px solid #1F1F1F;
}

.Partner_slider .owl-nav i.right:after {
    transform: translate(-50%, -50%) rotate(137deg);
    left: 47%;
}

.Partner_slider .owl-dots {
    display: flex;
    width: max-content;
    margin: 120px auto 0;
}

.Partner_slider .owl-dot {
    width: 35px;
    height: 8px;
    background: #3D466A;
    border-radius: 30px;
    margin: 0 5px;
}

.Partner_slider .owl-dot.active {
    background: #289ACF;
}

.ps {
    height: 160px;
    display: flex;
    align-items: end;
}

.ps i {
    width: 189px;
    display: block;
    cursor: pointer;
}

.ps i img {
    width: 100%;
}

.contact-area {
    height: 560px;
    margin: 265px 0 140px;
}

section.contact-area img.EllipseHero {
    transform: rotate(179deg);
    left: 0;
    z-index: -4;
}

section.contact-area img.EllipseHerorit {
    transform: rotate(216deg);
}

.contact {
    text-align: center;
}

img.cont-bg {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.contact a svg {
    margin-right: 20px;
}

.contact a {
    font-size: 30px;
}

.contact p {
    font-size: 35px;
    max-width: 950px;
    margin: auto;
    margin-bottom: 50px;
    padding: 0 20px;
}

.contact h1 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    margin: 20px 0;
}

.contact span {
    font-size: 40px;
    color: var(--colorText);
    display: block;
}

.footer_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    margin: 1px 0 62px;
}

.footer-wrp {
    width: 37%;
    display: flex;
    justify-content: space-between;
}

.footer-wrp a svg {
    margin-right: 10px;
}

.footer-wrp a {
    color: #D8D8FF;
}